# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


.idea/
.ipynb_checkpoints

common_libraries/transformers/*/output/
common_libraries/transformers/*/tmp_trainer/
common_libraries/transformers/*/wandb/

challenges/information_extraction/tmp